# {{pkglts setup,
include AUTHORS.rst
{{github rm, include CONTRIBUTING.rst}}
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
include dvlpt_requirements.txt

recursive-include test *
{{data rm, recursive-include src/{{key, base.pkgname}}_data *}}
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include doc *.rst{{sphinx rm,  conf.py Makefile make.bat}}
# }}
