# {{pkglts github,
*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# editors
.idea


# coverage
.coverage



# tox
.tox



# pypi rc file
.pypirc

# }}

# user defined
example/pkg_tata
example/venv_toto
example/wheels
try
feature_list.txt

