# {# pkglts, travis
# Config file for automatic testing at travis-ci.org

language: python

python:
  - "2.7"
  - "3.5"

virtualenv:
    system_site_packages: true

# #}

addons:
  apt:
    packages:
# {# pkglts, travis.addons

# #}

install:
# {# pkglts, travis.install
 - pip install -r requirements.txt
 - pip install -r dvlpt_requirements.txt
 - pip install coveralls
# #}

script:
# {# pkglts, travis.script
 - nosetests
# #}

after_success:
# {# pkglts, travis.after
- coveralls
# #}
# blacklist
branches:
  except:
    - wip_*
