# {# pkglts, travis
# Config file for automatic testing at travis-ci.org

language: python

python:
  - "2.7"
  - "3.6"

# #}

addons:
  apt:
    packages:
# {# pkglts, travis.addons
#
# #}

install:
# {# pkglts, travis.install
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -q -n myenv python=$TRAVIS_PYTHON_VERSION
  - source activate myenv

  # install dependencies
  - conda install -c conda-forge coverage coveralls flake8 jinja2 pytest pytest-cov pytest-mock requests semver sphinx sphinx_rtd_theme tox twine unidecode
  

  # install package
  - python setup.py install
# #}

script:
# {# pkglts, travis.script
  - touch .coverage
  - pytest
  - ls -a
# #}

after_success:
# {# pkglts, travis.after
  - ls -a
  - ls -a test
  - coveralls debug
# #}
# blacklist
branches:
  except:
    - wip_*
