# {# pkglts, pysetup
include AUTHORS.{{ doc.fmt }}
include CONTRIBUTING.{{ doc.fmt }}
include HISTORY.{{ doc.fmt }}
include README.{{ doc.fmt }}
{% if 'license' is available %}
include LICENSE
{% endif %}
include requirements.txt
include requirements_minimal.txt

{% if 'test' is available %}
recursive-include test *
{% endif %}
{% if 'data' is available %}
recursive-include {{ src.src_pth }} *
{% if data.use_ext_dir %}
recursive-include src/{{ base.pkgname }}_data *
{% endif %}
{% endif %}

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

{% if 'sphinx' is available %}
recursive-include doc *.{{ doc.fmt }}
include doc/conf.py
include doc/Makefile
include doc/make.bat
{% endif %}

# #}
