# {# pkglts, github
*.py[cod]

# pkglts files
.pkglts/info.log*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# editors
.idea

{% if 'coverage' is available %}
# coverage
.coverage
{% endif -%}

{%- if 'tox' is available %}
# tox
.tox
{% endif -%}

{%- if 'pypi' is available %}
'# pypi rc file
.pypirc
{% endif -%}

{%- if 'sphinx' is available %}
# sphinx autogen file
doc/_dvlpt
{% endif %}

# #}

# user custom filters

