# {# pkglts, coverage
[html]
title = {{ base.pkg_full_name }}'s coverage
directory = build/htmlcov

[run]
source = {{ base.pkg_full_name }}

[report]
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    {%- for exclude_line in coverage.exclude_lines %}
    {{ exclude_line }}
    {%- endfor %}
show_missing = True

# #}
