# {{pkglts pysetup,

include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include README.rst

include LICENSE
include requirements.txt
include dvlpt_requirements.txt

recursive-include test *
# {{data rm,
recursive-include src/{{key, base.pkgname}} *
recursive-include src/{{key, base.pkgname}}_data *
# }}

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include doc *.rst
# {{sphinx rm,
include doc/conf.py
include doc/Makefile
include doc/make.bat
# }}

# }}
