# {# pkglts, pysetup

include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include README.rst

include LICENSE
include requirements.txt
include dvlpt_requirements.txt

recursive-include test *
{% if 'data' is available %}
recursive-include {{ base.src_pth }} *
recursive-include src/{{ base.pkgname }}_data *
{% endif %}

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include doc *.rst
{% if 'sphinx' is available %}
include doc/conf.py
include doc/Makefile
include doc/make.bat
{% endif %}

# #}
