# {# pkglts, pysetup

include AUTHORS.{{ doc.fmt }}
include CONTRIBUTING.{{ doc.fmt }}
include HISTORY.{{ doc.fmt }}
include README.{{ doc.fmt }}

include LICENSE
include requirements.txt
include dvlpt_requirements.txt

recursive-include test *
{% if 'data' is available %}
recursive-include {{ base.src_pth }} *
recursive-include src/{{ base.pkgname }}_data *
{% endif %}

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include doc *.{{ doc.fmt }}
{% if 'sphinx' is available %}
include doc/conf.py
include doc/Makefile
include doc/make.bat
{% endif %}

# #}
